#different-section {
    @include tamanio(100%, 110vh);
    @include flex(column, start, start);
    padding: 2rem 8rem;

    h2 {
        @include tamanio(100%, 20%);
        font-size: 4rem;
        font-family: $fuente-titulo;
        font-weight: 100;

        &::before {
            content: "";
            display: block;
            position: relative;
            background-color: grey;
            height: 3px;
            width: 10%;
            margin: 3rem 0;
        }
    }

    #container-cajas {
        @include flex(row, center, center);
        @include tamanio(100%, 80%);
        gap: 1rem;

        div {
            height: 100%;
            @include flex(column, center, start);
            gap: 1rem;

            h3 {
                margin-top: 1.5rem;
            }
        }
    }
}