#find-section {
    @include tamanio(100%, 80vh);
    padding: 2rem 8rem;

    div {
        background-color: #2c2640;
        @include tamanio(100%, 70%);
        @include flex(row, center, center);

        div {
            @include tamanio(80%, 100%);
            @include flex(row, space-between, center);


            h4 {
                font-size: 3.5rem;
                color: white;
                font-family: $fuente-titulo;
            }

            a {
                @extend .boton;
                border-color: white;
                color: white;
            }
        }

        svg {
            position: absolute;
            right: 8rem;
        }
    }

}